<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myslef.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/mymenu.option.css}" />
    
</head>
<script th:src="@{/layui/laydate/laydate.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>

<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/js/avalon.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/invoicedate-script.js}"></script>
<script th:src="@{/js/public.min.js}"></script>
<style>
   *{margin: 0;padding: 0;}
   #box{width: 100%;height: 100%;}
   #left{width: 130px;float: left;background-color: #B8BFD8;position: relative;}
   #btn{width: 100%;height: 50px;background-color: darkgoldenrod;line-height: 50px;text-align: center;color: white;cursor: pointer;}
   #btnb{width: 50px;height: 50px;background-color: red;position: absolute;cursor: pointer;left: -50px;line-height: 50px;text-align: center;}
</style>

<body ms-controller="viewmodel" onload="initloading()">
	<div class="btn-primary text-white"  style="height:50px">
		<div class="form-inline">
			<div class="form-group" style="margin-top: 0px ;height:50px">
			</div>
			<!-- 联想输入提示 需切换不同的 DIV -->
			<div class="input-group col-md-3" style="margin-top: 0px positon:relative height:50px " align="right" id="findcustamercode1">
				<span class="input-group-btn">
					<button class="btn btn-info btn-search">客户信息</button>
				</span>
				<input type="text" class="form-control demo-input" placeholder="请输入客户代码" onkeyup="findcustamercode()" name = "custamercodev" id="custamercode" />
			</div>
			<!-- 联想输入提示 需切换不同的 DIV -->
			<div class="input-group col-md-3" style="margin-top: 0px positon:relative height:50px; display: none " align="right"  id="findcustamercode2">
				<span class="input-group-btn">
					<button class="btn btn-info btn-search">客户信息</button>
				</span>
				<select class="form-control demo-input" id ="customercode_select"  onchange="findcustamerbyname()" onkeyup="findcustamerbyname()">
					<option ms-for="el in @datalistfind" value="{{el.customername}}">{{el.customername}} </option>
				</select>
			</div>
			<!-- 查找 联想输入提示 需切换不同的 DIV -->
			<div class="input-group col-md-3" style="margin-top: 0px positon:relative height:50px " align="right">
				<span class="input-group-btn">
					<lable class="btn btn-info btn-search">日期</lable>
				</span>
				<input type="text" class="form-control demo-input" placeholder="请选择日期范围" onmousedown="dateselectfunction()" id="dateselect" /> 
				<span class="input-group-btn">
					<button class="btn btn-info btn-search" onclick="search()">查找</button>
				</span>
			</div>
		</div>
	</div>
	<div id="box" class="FGH">
		<div id="left">
			<div id="btn">单号清单</div>
			<table class="table table-hover" id="indentnumberValuetable">
			<tbody>
				<tr ms-for="el in @datalistindent">
					<td name="indentnumber" onclick="getindentnumberValue(this)">{{el.indentnumber}}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div id="btnb">显示</div>
	</div>
	<div id="initpagesdata" style="float:left;width: 1%;" >
		<table class="table table-bordered text-nowrap table-hover" id="table" style="width: 1088px;">
			<thead>
				<tr>
					<td class="active"></td>
					<td class="info">id</td>
					<td class="success">单号</td>
					<td class="warning">名称</td>
					<td class="success">规格</td>
					<td class="danger">销售日期</td>
					<td class="info">客户名称</td>
					<td class="warning">数量</td>
					<td class="danger">计量单位</td>
					<td class="success">含税单价</td>
					<td class="danger">含税金额</td>
					<td class="success">税前货款</td>
					<td class="danger">税金</td>
				</tr>
			</thead>
			<tbody>
				<tr ms-for="el in @datalist"  onclick="getTDtext()">
					<td data-checkbox="true"><input type="checkbox" name="getvalue" onclick="getTDtext()"/></td>
					<td name="id">{{el.id}}</td>
					<td>{{el.indentnumber}}</td>
					<td>{{el.name}}</td>
					<td>{{el.specification}}</td>
					<td>{{el.saledate}}</td>
					<td>{{el.customername}}</td>
					<td>{{el.quantity}}</td>
					<td>{{el.measurementunit}}</td>
					<td>{{el.taxincludedprice}}</td>
					<td name="hsje">{{el.taxincludedamount}}</td>
					<td>{{el.pretax}}</td>
					<td>{{el.taxes}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="searchpagesdata" style="display: none;float:left;width: 1%;">
		<table class="table table-bordered text-nowrap table-hover" id="table">
			<thead>
				<tr>
					<td class="active"></td>
					<td class="info">id</td>
					<td class="success">单号</td>
					<td class="warning">名称</td>
					<td class="success">规格</td>
					<td class="danger">销售日期</td>
					<td class="info">客户名称</td>
					<td class="warning">数量</td>
					<td class="danger">计量单位</td>
					<td class="success">含税单价</td>
					<td class="danger">含税金额</td>
					<td class="success">税前货款</td>
					<td class="danger">税金</td>
				</tr>
			</thead>
			<tbody id="searchpagesdata">
				<tr ms-for="el in @datalistsearch">
					<td data-checkbox="true"><input type="checkbox" name="getvalue" onclick="getTDtext()" /></td>
					<td name="id">{{el.id}}</td>
					<td>{{el.indentnumber}}</td>
					<td>{{el.name}}</td>
					<td>{{el.specification}}</td>
					<td>{{el.saledate}}</td>
					<td>{{el.customername}}</td>
					<td>{{el.quantity}}</td>
					<td>{{el.measurementunit}}</td>
					<td>{{el.taxincludedprice}}</td>
					<td name="hsje">{{el.taxincludedamount}}</td>
					<td>{{el.pretax}}</td>
					<td>{{el.taxes}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="footer navbar-fixed-bottom btn-primary" align="center">
	<button type="button" class="btn btn-primary" style="margin: 10px;" onclick="exportExcel(this)">导出未开票</button>
	<span class="text-center label label-warning" style="display: none;">所选ID号</span>
	<label id="resultID" style="color: grout;display: none;"></label>
	
	<span class="text-center label" th:text="${msg}" style="display: none;"></span>
	<button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@request">{{@text}}</button>
	<span class="input-group-btn label label-warning">含税总额：</span>
	<label id="resultvalu" ></label>
</div>
</body>
</html>